{% load static %} 
{% comment %} static 파일에 대한 주소 생성 {% endcomment %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Static Example</title>
  <link rel="stylesheet" href="{% static 'style_sheets/example.css' %}">
  {% comment %} 오타 냈을 때는 쿠키를 지우던지, 시크릿 모드로 하던지 {% endcomment %}
</head>
<body>
  <h1>STATIC 파일 실습</h1>
  <img src="{% static 'Homer.png' %}" alt="homer">
  {% comment %} http://localhost:8000/static/Homer.png/ {% endcomment %}
</body>
</html>