{% extends 'base.html' %}
{% comment %} 항상 제일 위에 있어야함 {% endcomment %}

{% block title %}Push{% endblock %}

{% block content %}
  <h1>Push Number</h1>
  <form action="/pages/num/pull/">
    <input type="text" name="number">
    <button type="submit">Push!</button>
  </form>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Push Number</h1> {% endcomment %}
  {% comment %} 노가다...? {% endcomment %}
  {% comment %} <form action="/pages/num/pull/">
    <input type="text" name="number">
    <button type="submit">Push!</button>
  </form>
</body>
</html> {% endcomment %}
